<div class="flex mt-8 justify-center">
    <mat-card class="shadow w-4/12">
        <mat-card-content>
            <div class="p-8">
                <h2 class="text-3xl font-bold mb-4">{{ detailsRecipe.title }}</h2>
                <p class="text-gray-700">{{ detailsRecipe.description }}</p>
                <div class="mt-4">
                    <span class="text-gray-600">Category:</span>
                    <mat-chip class="ml-2">{{ detailsRecipe.category.name }}</mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


