<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Title </mat-label>
                <input matInput name="title" type="text" [(ngModel)]="editRecipe.title">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Description </mat-label>
                <input matInput name="description" type="text" [(ngModel)]="editRecipe.description">
            </mat-form-field>
        </div>
        <div class="flex">
            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Preparation Time (minutes) </mat-label>
                    <input matInput name="preparationTime" type="number" [(ngModel)]="editRecipe.preparationTime">
                </mat-form-field>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Choose Category</mat-label>
                <mat-select [(ngModel)]="cID" [(value)]="selected" name="Category">
                    @for(c of categoryObject; track c)
                    {
                    <mat-option [value]="c.id">{{c.name}}</mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>
        <div class="flex justify-around">
            <button mat-raised-button  (click)="toHome()">Cancel</button>
            <button mat-raised-button color="primary" (click)="edit()">Edit</button>
        </div>
    </form>
</div>


